body{ background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#P1 { border:solid 2px;
width: 350px;
background-color: rgb(170, 170, 255);

}

h1 {text-align: center;
    border:rgb(170, 170, 255) solid 1px;
    background-color: rgb(170, 170, 255);
    color: rgb(255, 255, 255);
  }